<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lkty.shop.product.mapper.IPmsSpuInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lkty.shop.common.po.product.po.PmsSpuInfo">
        <id column="id" property="id" />
        <result column="spu_name" property="spuName" />
        <result column="spu_description" property="spuDescription" />
        <result column="catalog_id" property="catalogId" />
        <result column="brand_id" property="brandId" />
        <result column="weight" property="weight" />
        <result column="publish_status" property="publishStatus" />
        <result column="remarks" property="remarks" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, spu_name, spu_description, catalog_id, brand_id, weight, publish_status, remarks, create_by, create_time, update_by, update_time, del_flag, version
    </sql>

</mapper>
