<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lkty.shop.product.mapper.IPmsSkuSaleAttrValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lkty.shop.common.po.product.po.PmsSkuSaleAttrValue">
        <result column="id" property="id" />
        <result column="sku_id" property="skuId" />
        <result column="attr_id" property="attrId" />
        <result column="attr_name" property="attrName" />
        <result column="attr_value" property="attrValue" />
        <result column="attr_sort" property="attrSort" />
        <result column="remarks" property="remarks" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        sku_id, attr_id, attr_name, attr_value, attr_sort, remarks, create_by, create_time, update_by, update_time, del_flag, version
    </sql>

</mapper>
